.App {
	text-align: left;
	font-family: 'Cairo', sans-serif;
}

.App-header {
	background-color: #272822;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-body {
	margin: 0 0;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	width: 100%;
	min-height: 90vh;
}

.App-body div {
	text-align: left;
	width: 100%;
	white-space: nowrap;
}

@font-face {
	font-family: 'Cairo';
	font-style: normal;
	src: url('/fonts/Cairo-Regular.ttf');
}

@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	src: url('/fonts/Cuprum-Regular.ttf');
}

@font-face {
	font-family: 'Monserrat';
	font-style: normal;
	src: url('/fonts/Monserrat-Regular.ttf');
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	src: url('/fonts/Nunito-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	src: url('/fonts/Quicksand-Regular.ttf');
}

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	src: url('/fonts/TitilliumWeb-Regular.ttf');
}

::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #272822;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #F0C674;
	border-radius: 3.5px;
}
